body {
	font-family: "Helvetica", "Arial";
	background: rgba(44,179,183,0.30);
}

h1 {
	text-align: center;
}
ul {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

li {
	list-style: none;
	margin-top: 8px;
	margin-left: 0;
	padding-right: 10px;
	text-align: right;
	padding-top: 4px;
	padding-bottom: 4px;

	background: #eee;
	border: 1px solid #979797;
	border-radius: 5px;
}

li h1 {
	font-family: HelveticaNeue-Bold;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}

.footer {
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #777;
	border-top-width: 2px;
	padding-top: 6px;
	text-align: center;
	color: #777;
}