body {
	font-family: "Helvetica", "Arial";
	background: rgba(245,166,35,0.30);
}

ul {
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

li {
	list-style: none;
	margin-top: 8px;
	margin-left: 0;
	padding-left: 0;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;

	background: #FFFFFF;
	border: 3px solid #979797;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.footer {
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #777;
	border-top-width: 2px;
	padding-top: 6px;
	text-align: center;
	color: #777;
}